.logo {
    height: 50px;
}

.title {
    font-size: 24px;
    text-align: center;
    color: #D6E1E0;
}

.title_account {
    font-size: 14px;
    color: #D6E1E0;
}

.title_link_account {
    font-size: 14px;
    color: #00960A;
    text-decoration: none;
    margin-left: 5px;
}