svg {
    margin: 10px;
    height: 32px;
    fill: #D6E1E0;
}

.link {
    display: grid;
    place-items: center;
}

.link:hover {
    width: 50px;
    border-radius: 100%;
    background-color: #00960A;
    transition: all .3s ease-in-out;
}

.title-carousel {
    font-size: clamp(16px, 2vw, 24px);
    text-align: center;
    color: #D6E1E0;
}

span {
    gap: 5px;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 14px;
    color: #D6E1E0;
}