svg {
    margin: 10px;
    height: 32px;
    fill: #D6E1E0;
}

a {
    display: grid;
    place-items: center;
}

a:hover {
    width: 50px;
    border-radius: 100%;
    background-color: #00960A;
    transition: all .3s ease-in-out;
}

.title-carousel {
    font-size: clamp(16px, 2vw, 24px);
    text-align: center;
    color: #D6E1E0;
}

.swiper {
    width: 100%;
    max-width: 600px;
}

.swiper-slide {
    border-radius: 10px;
    background-color: #100F10;
    width: clamp(10vw, 10em, 100vw);
    height: clamp(10vh, 6em, 100vh);
}

.swiper-slide {
    display: grid;
    place-items: start;
    place-content: center;
    grid-template-columns: auto;
}

span {
    gap: 5px;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 14px;
    color: #D6E1E0;
}

.swiper-button-next,
.swiper-button-prev {
    color: #00960A;
}

@media screen and (max-width: 768px) {
    .swiper {
        width: 100%;
        max-width: 300px;
    }
}