<div>
  <h2 id="page-heading" data-cy="ValveHeading">
    <span appTranslate="rucumateApp.valve.home.title">Valves</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="rucumateApp.valve.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-valve"
        [routerLink]="['/valve/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="rucumateApp.valve.home.createLabel"> Criar novo Valve </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="valves?.length === 0">
    <span appTranslate="rucumateApp.valve.home.notFound">Nenhum Valve encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="valves && valves.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="status">
            <div class="d-flex">
              <span appTranslate="rucumateApp.valve.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="user.id">
            <div class="d-flex">
              <span appTranslate="rucumateApp.valve.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let valve of valves; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/valve', valve.id, 'view']">{{ valve.id }}</a>
          </td>
          <td>{{ valve.status }}</td>
          <td>
            {{ valve.user?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/valve', valve.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">Visualizar</span>
              </button>

              <button type="submit" [routerLink]="['/valve', valve.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(valve)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
